* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'cascadia-code';
    src: url('../fonts/CascadiaCode-VariableFont_wght.ttf') format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
    background-image: url('../images/noise.jpg');
    background-position: center center; 
    image-rendering: pixelated;
    background-size: 400% auto;
    color: rgb(224, 222, 222);
    height: auto;
    max-width: 100vw;
    
    display: grid;
    grid-template-rows: 60px 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.top-nav {
    grid-area: header;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #424242ab;
    display: flex;
    text-align: center;
    overflow: auto;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;

    #name {
        padding: 0 1rem;
        font-size: clamp(2rem, 3vw, 5rem);
        color: #FAFAFA;
    }

    .navigation {
        list-style-type: none;
        display: flex;
        gap: 3rem;
        padding: 0 3rem;
        font-size: clamp(2rem, 2vw, 4rem);
        color: #FAFAFA;
        #activePage {
        color: #5a5a5a;
        }
    }

    #talkBtn {
    background-color: #c6c2c7;
    color: #0e0e0e;
    padding: 0 2rem;
    /*border: 2px solid #0d0d0d;*/
    border-radius: 5px;
    font-size: clamp(1.5rem, 2vw, 3rem);
    cursor: pointer;
    }
    #talkBtn:hover {
        background-color: #8a868a;
        color: #0e0e0e;
    }
    
}

.main-content {
    grid-area: main;
    display: flex;
    display: grid; 
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "splashScreen"
        "aboutMe"
        "projects";

    #splashScreen {
        grid-area: splashScreen;
        background-image: url(../Images/hades-2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #0e0e0e;
        align-items: center;
        height: calc(100vh - 60px);
    }
    #aboutMe {
        grid-area: aboutMe;
        padding: 5rem 2rem 2rem 2rem;

        .body{
            display: flex;

            p {
                font-size: clamp(2rem, 2vw, 3rem);
            }

            img {
                padding: 1rem ;
                height: 80vh;
                width: auto;
            }
        }
    }

    #projects {
        grid-area: projects;
        text-align: center;
        padding: 2rem;

        .displayProjects{
            .project{
                width: 60vw;
                
                .project-link{
                    background-color: #0e0e0e00;
                    border-color: #0e0e0e00;
                    .project-image{
                        padding-top: 3vw;
                        width: 55vw;
                        height: auto;
                    }
                    .project-image:hover{
                        cursor: pointer;
                    }
                }

                .project-name{
                    font-size: 3rem;
                    text-align: center;
                    padding-bottom: 2vw;
                }
            }

            .right {
                margin-left: auto;
            }
        }
    }
}
.displayProjectsDetail{
    
        .project{
            margin: 2vw;
            display: grid;
            grid-template-rows:  5vw auto 5vw;
            grid-template-columns: 37vw 1fr ;
            grid-template-areas: 
                "name name"
                "explain image"
                "explain btn";
                background-color: #0e0e0e;

        }

        .project-expl{
            grid-area: explain;
            padding: 1vw;
            text-align: left;
        }
        .project-image{
            grid-area: image;
            margin-left: auto;
            padding: 2vw 2vw 2vw 0;
            width: 55vw;
            height: auto;
        }
        .sight-btn{
            grid-area: btn;
            background-color: #942222;
            margin-right: 2vw;
            width: 12vw;
            height: 3vw;
            margin-left: auto;
        }


        .project-name{
            grid-area: name;
            font-size: 3rem;
            padding-top: 1vw;
            padding-left: 2.5vw;
            text-align: left;
        }
}
#contact {
            grid-area: footer;
            background-color: #4b4a4a80;
        }
a {
    text-decoration: none;
    color:#FAFAFA;
}
a:hover {
    color: #B200C8;
}

p {
    color:#FAFAFA;
    font-family: 'cascadia-code', sans-serif;
    font-size: large
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(3rem, 2vw, 5rem);
}