* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'cascadia-code';
    src: url('fonts/CascadiaCode-VariableFont_wght.ttf') format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
    background-image: url('images/noise.jpg');
    background-position: center center; 
    image-rendering: pixelated;
    background-size: 400% auto;
    color: rgb(224, 222, 222);
    height: auto;
    max-width: 100vw;
    width: 100vw;
    display: grid;
    grid-template-rows: 60px 1fr 380px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.top-nav {
    grid-area: header;
    position: fixed;
    width: 100vw;
    height: 60px;
    background-color: #252525f8;
    display: flex;
    text-align: center;
    overflow: auto;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;

    #name {
        padding: 0 1rem;
        font-size: clamp(1rem, 2vw, 6rem);
        color: #FAFAFA;
        white-space: nowrap;
    }

    .navigation {
        list-style-type: none;
        display: flex;
        gap: 4vw;
        padding: 0 3vw;
        font-size: clamp(2rem, 2vw, 4rem);
        color: #FAFAFA;
        #activePage {
        color: #5a5a5a;
        }
    }

    #talkBtn {
    background-color:  #47ce6f;;
    color: #0e0e0e;
    padding: 0 2vw;
    /*border: 2px solid #0d0d0d;*/
    border-radius: 5px;
    white-space: nowrap;
    font-size: clamp(2rem, 2vw, 4rem);
    cursor: pointer;
    }
    #talkBtn:hover {
        background-color:ghostwhite;
        color: #0e0e0e;
    }
    
}

.main-content {
    
    grid-area: main;
    display: flex;
    display: grid; 
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "splashScreen"
        "aboutMe"
        "projects";

    #splashScreen {
        grid-area: splashScreen;
        background-image: url(Images/Rabit.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #0e0e0e;
        align-items: center;
        height: calc(100vh - 60px);
        width: 100vw;
    }
    #aboutMe {
        width: 100vw;
        grid-area: aboutMe;
        padding: 5vw 2rem 2vw 2rem;

        .body{
            display: flex;

            p {
                font-size: clamp(2rem, 2vw, 3rem);
            }

            img {
                padding: 1rem ;
                height: 80vh;
                width: auto;
            }
        }
    }

    #projects {
        grid-area: projects;
        text-align: center;
        padding: 2rem;
        width: 100vw;

        .displayProjects{
            .project{
                width: 60vw;
                
                .project-link{
                    background-color: #0e0e0e00;
                    border-color: #0e0e0e00;
                    .project-image{
                        padding-top: 3vw;
                        width: auto;
                        height: 55vh;
                    }
                    .project-image:hover{
                        cursor: pointer;
                    }
                }

                .project-name{
                    font-size: 3rem;
                    text-align: center;
                    padding-bottom: 2vw;
                }
            }

            .right {
                margin-left: auto;
            }
        }
    }
}
.displayProjectsDetail{
    
    .project{
        margin: 2vw;
        display: grid;
        grid-template-rows:  5vw auto 5vw;
        grid-template-columns: 37vw 55vw ;
        grid-template-areas: 
            "name name"
            "explain image"
            "explain btn";
        background-color: #0e0e0e;

    }

    .project-expl{
        grid-area: explain;
        padding: 1vw;
        text-align: left;
    }
    .project-image{
        grid-area: image;
        margin-left: auto;
        padding: 2vw 2vw 2vw 0;
        width: 55vw;
        height: auto;
    }
    .sight-btn{
        grid-area: btn;
        background-color: #942222;
        margin-right: 2vw;
        width: 12vw;
        height: 3vw;
        margin-left: auto;
    }


    .project-name{
        grid-area: name;
        font-size: 3rem;
        padding-top: 1vw;
        padding-left: 2.5vw;
        text-align: left;
    }
}
.displayWorks{
    
        .project{
            margin: 2vw;
            display: grid;
            grid-template-rows:  5vw auto;
            grid-template-columns: 55vw 37vw  ;
            grid-template-areas: 
                "name name"
                "image explain";
            background-color: #0e0e0e;
            p{
                font-size: 4rem;
            }

        .project-expl{
            grid-area: explain;
            padding: 2vw;
            text-align: left;
            font-size: larger;
            
        }
        .project-image{
            grid-area: image;
            margin-left: auto;
            padding: 0 0 2vw 2vw;
            width: 55vw;
            height: auto;
        }

        .project-name{
            grid-area: name;
            font-size: 3rem;
            padding-top: 1vw;
            padding-left: 2.5vw;
            text-align: left;
        }
    }
    
}

#contact {
    grid-area: footer;
    width: 100vw;
    background-color: #252525f8;
    #contact-header{
        padding: 1rem 2rem;
    }
    
}
.contact-header{
    padding: 20px 80px;
}
.contact-body{
    p{
        font-size: large;
    }
    overflow-wrap: break-word;
  hyphens: auto;
        gap: 2vw;
        display: flex;

    #contactBtn{
        white-space: nowrap;
        margin: -35px 0;
        margin-left: 0.5vw;
        background-color: #47ce6f;
        height: 10vw;
        width: 10vw;
        padding-top: 5vw;
        text-align: center;
        color: #0e0e0e;
        font-size: 2rem;
        font-family: "cascadia-code";
        font-weight: bolder;
        border-radius: 50%;
        outline-color: #0e0e0e;
        outline-width: 2px;
        outline-style:solid;
        cursor: pointer;
    }
    #contactBtn:hover{
        color:#FAFAFA;
        background-color:#0e0e0e;
    }
    p{
        font-size: large;
    }
    
}
.contact-options{
    p{
        font-size: large;
    }
    display: flex;
    text-align: center;
    overflow: auto;
    padding: 70px 50px 50px 70px;
    justify-content:first baseline;
    list-style-type: none;
}
.contact{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.877), rgba(34, 34, 34, 0.63));
    margin: 0 20px;
    width: 300px;
    height: 125px;
    border-radius: 15px;
    border-width: 5px;
    outline-color: #FAFAFA;
    outline-width: 1px;
    outline-style:solid;
    

    h2{
        padding-bottom: 15px;
        padding-top: 10px;
        white-space: nowrap;
        font-size: clamp(1rem, 2vw, 2.5rem)
        
    }
    a{
        color:#FAFAFA;
        font-family: 'cascadia-code', sans-serif;
        font-size: medium;
        white-space: nowrap;
    }
}
#contactInMain{
    width: 100vw;
    align-items: center;
    padding: 2vw 8vw;

    #title-contact{
        text-align: center;
        padding: 3vw;
    }
}

#user-input{
    width: 100vw;
    padding: 0 30%;
    align-items: center;
    display:flex;
    gap: 50px;
    flex-direction: column;
}
.form{
    
    font-family: 'cascadia-code', sans-serif;
    font-size: larger;
    background-color: #0e0e0e;
    color: #FAFAFA;
    height: 3rem;
    width: 600px;
    height: 50px;;
    }
#name-input{
    display: flex;
    width: 600px;
    gap: 25px;
}
#message{
    height: 100px;
}
input{
    color:#FAFAFA;
    background-color: #0e0e0e;
}
input::placeholder {
        color: #FAFAFA;
        opacity: 0.9;
}

textarea::placeholder {
        color: #FAFAFA;
        opacity: 0.9;
}
#submit{
    align-items: center;
    width: 600px;
    height: 4rem;
    font-family: 'cascadia-code', sans-serif;
    font-size: larger;
    font-weight: bold;
    background-color: #47ce6f;
    border-radius: 30px;
    margin-bottom: 5px;

}
#valid-error{
    height: 150px;
    
}
#aboutME-header{
    width: 100vw;
    text-align: center;
    padding: 20px;

}
#aboutME-bodyText{
    width: 100vw;
    font-size: 3rem;
    padding: 30px;
}
#skill-header{
    padding: 30px
}
.skills{
    width: 100vw;
    padding: 40px 0 125px 0;
}
.skill{
    display:flex;
    align-self: center;
    gap: 20px;
    padding: 20px 5vw;
    h2{
       font-size: 4rem;
       padding-top: 15px;
       padding-right: 50px;
       
    }
    progress{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        width: 1500px;
        height: 100px;
        color: #000000;
    }
    progress::-webkit-progress-bar {
    background-color:#0e0e0e;
    border-radius: 4px;
    border-color: #FAFAFA;
    border-style: solid;
    }
    progress::-webkit-progress-value {
    background-color:#FAFAFA;
    border-radius: 2px;
    }
}

#submit:hover{
    background-color: #FAFAFA;
}
a {
    text-decoration: none;
    color:#FAFAFA;
}
a:hover {
    color: #47ce6f;
}

p {
    color:#FAFAFA;
    font-family: 'cascadia-code', sans-serif;
    font-size: 5rem
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    text-decoration: underline;
    text-decoration-color:  #47ce6f; 
    text-underline-offset: 20px;
    text-decoration-thickness: 15px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem
}
@media (max-width: 1150px) {
    body {
        grid-template-rows: 60px 1fr 900px;;
    }
    .right {
                margin-left: auto;
            }
    .project-image{
        width: 10vw;
        padding: auto;
    }
    #projects {
        width: 50vw;
    }
     #aboutMe {
        .body{
            display: flex;
            flex-direction: column;
            .img{
                width: 80vw;
                height: 20vh;
                padding: 20vh 0;
            }
        }
    } 
    h1{
        color: #fc0f0f;
    }
    .contact-options{
        display: flex;
        flex-direction: column;
    }
}
html, body {
    max-width: 100%;
    overflow-x: clip; /* Modern alternative to 'hidden' that prevents horizontal scrolling without breaking sticky positioning */
}